fastapi
uvicorn
requests
psycopg2-binary
python-dotenv
minio
apache-airflow-providers-amazon
apache-airflow-providers-postgres
pyarrow
boto3
sentence-transformers
torch
transformers
mistralai==2.9.4
streamlit
bcrypt
pgvector
pdfplumber
python-docx